<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimplyTrack.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SimplyTrackMCP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F51892312E85F09B002B266C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F553B41F2E5F96870053406B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F553B42D2E5F968C0053406B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F553B4372E5F968C0053406B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
